* text=auto
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.mo binary
*.png binary
/assets-github/alternatives export-ignore
/assets-github/banner.svg export-ignore
/assets-github/banner-de.svg export-ignore
/NEXT-UPDATE.md export-ignore
/docs/internal export-ignore
/docs/wiki export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/docs/RELEASE-CHECKLIST.md export-ignore

*.jpg binary
*.svg text eol=lf
/docs/source export-ignore
/tools export-ignore
/assets-github/screenshots export-ignore
/docs/RELEASE-CHECKLIST-de.md export-ignore
