---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #24738c;
  background-image: linear-gradient(120deg, #18243e, #24738c);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-weight: 700;
  color: #24738c;
}
